.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #ccc;
    padding: 20px;
}

nav{
    background-color: #999;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li{
    margin: 0 10px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
nav a:hover{
    background-color: brown;
    transition: 0ms ease-out;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

section{
    background-color: #eee;
    flex: 1 0 30%;
    margin: 10px;
    padding: 20px;
}
footer{
    background-color: #ccc;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}